{{> masthead }}

<div class="fill-light-gray xs-py3">
  <div class="container">
    <div class="clearfix">
      <div id="locations">
        <div class="loader-container flex xs-flex-justify-center xs-flex-align-center">
            <div class="canvas-container xs-absolute xs-z1"></div>
            <div id="title" class="xs-text-center xs-z2">
              <h3 class="slab caps">North by Northwestern's</h3>
              <h1 class="slab bold text-xl">Napping Guide</h1>
              <p class="xs-my4 sm-col-10 sm-offset-1 md-col-8 md-offset-2">
                Need to catch some zzzs? North by Northwestern has written a proprietary algorithm to help you optimize your campus napping experience.
              </p>
              <button type="button" name="start-button" id="start" class="button button--orange"><span class="xs-px6 caps bold">Start</span></button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="credit fill-light-gray">
    <p class="container xs-text-center xs-text-5">Design and Development by Alex Duner and Nicole Zhu</p>
    <p class="container xs-text-center xs-text-5">Photo Editing by Mia Zanzucchi</p>
</div>

{{> footer }}
