{{> masthead }}

<<<<<<< HEAD
<div class="fill-lightest-purple">
=======
<div class="fill-light-gray xs-py3">
>>>>>>> e8c51214372d4e57c7e04a1e724f8e625752e267
  <div class="container">
    <div class="clearfix">
      <div id="locations">
        <div class="loader-container flex">
            <div class="loader flex-justify-center"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="credit container fill-light-gray flex md-flex-align-center md-flex-justify-end">
    <p>Design and Development by Alex Duner</p>
</div>

{{> footer }}
