{{> masthead }}

<div class="fill-light-gray xs-py3">
  <div class="container">
    <div class="clearfix">
      <div id="locations">
        <div class="loader-container flex">
            <div class="loader flex-justify-center"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="credit fill-light-gray flex md-flex-align-center md-flex-justify-end">
    <p class="container">Design and Development by Alex Duner</p>
</div>

{{> footer }}
