<div class="fill-purple xs-text-center xs-py1">
  <a href="http://northbynorthwestern.com" class="nbn-logo--inverse xs-mx-auto xs-block" style="width: 25px; height 25px;">
    {{> nbn-logo }}
  </a>
</div>
