<<<<<<< HEAD
<div class="masthead fill-dark-purple xs-text-center xs-py1 flex md-flex-align-center md-flex-justify-end">
  <a href="http://northbynorthwestern.com" class="nbn-logo--inverse xs-mx-auto xs-block" style="width: 25px; height 25px;">
=======
<div class="fill-dark-purple xs-text-center xs-py1">
  <a href="http://northbynorthwestern.com" class="nbn-logo--dark-purple xs-mx-auto xs-block" style="width: 25px; height 25px;">
>>>>>>> e8c51214372d4e57c7e04a1e724f8e625752e267
    {{> nbn-logo }}
  </a>
</div>
