<div class="masthead fill-dark-purple xs-text-center xs-py1 flex md-flex-align-center md-flex-justify-end">
  <a href="http://northbynorthwestern.com" class="nbn-logo--inverse xs-mx-auto xs-block" style="width: 25px; height 25px;">
    {{> nbn-logo }}
  </a>
</div>
