@include generate-breakpoint-prefixes {

  &text-1 {
    font-size: $text-1          !important;
    line-height: $line-height-1 !important;
  }

  &text-2 {
    font-size: $text-2          !important;
    line-height: $line-height-1 !important;
  }

  &text-3 {
    font-size: $text-3          !important;
    line-height: $line-height-1 !important;
  }

  &text-4 {
    font-size: $text-4          !important;
    line-height: $line-height-2 !important;
  }

  &text-5 {
    font-size: $text-5          !important;
    line-height: $line-height-2 !important;
  }

  &text-6 {
    font-size: $text-6          !important;
    line-height: $line-height-2 !important;
  }
}

.regular,
.normal { font-weight:    $regular  !important; }

.text-thin { font-weight:    $thin  !important; }

.bold   { font-weight:    $bold     !important; }
.italic { font-style:     italic    !important; }
.caps   { text-transform: uppercase !important; }

body, .sans { font-family: $sans; }
.accent { font-family: $accent !important; }
.slab {
  font-family: $slab !important;
  line-height: 1.1   !important;
  &.bold {
    font-family: $slab    !important; // This is included to override faux-italics applied by browsers
  }
  &.italic { font-family: $slab !important; }
}


a {
  @extend .link-purple;
}

@include generate-breakpoint-prefixes {
  &text-left    { text-align: left    !important; }
  &text-center  { text-align: center  !important; }
  &text-right   { text-align: right   !important; }
  &text-justify { text-align: justify !important; }
}

.caps    { text-transform: uppercase; letter-spacing: $caps-letter-spacing; }

.decoration-none         { text-decoration: none         !important; }
.decoration-underline    { text-decoration: underline    !important; }
.decoration-line-through { text-decoration: line-through !important; }

.list-reset {
  margin-left:  0;
  padding-left: 0;
  list-style:   none !important;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
